.popup__button{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
    margin-top: 10px;
}
.button-hobby{
   height: 30px;
   background: linear-gradient(0deg, rgba(230,103,0,1) 41%, rgba(230,127,0,1) 56%);
   border-radius: 6px;
   color: #ffffff;
   line-height: 30px;
   transition: .5s;
}
.button-hobby:active{
   background: linear-gradient(0deg, rgba(230,127,0,1) 41%, rgba(230,103,0,1) 56%);
}