.user__data{
    width: auto;
    height: 70px;
}

@media (max-width: 400px) {
    .user__data-name{
        width: 100px;
    }
    .user__data{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}