@import '../blocks/main/main.css';
@import '../blocks/popup/popup.css';
@import '../blocks/message-info/message-info.css';
@import '../blocks/overlay.css';
@import '../blocks/spinner.css';

@font-face{
    font-family: 'ArialMT';
    src: url('../fonts/arialmt.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ﻿ArialMT, ﻿Abur, ﻿AdobeInvisFont;
    font-weight: normal;
    font-size: 14px;
}
body{
    background: #e2e2e2;
}
input{
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    appearance: none;
    transition: .5s;
}
a{
    color: #5399c4;
    font-weight: bold;
    text-transform: capitalize;
}
.button{
    border: 0;
    outline: none;
    appearance: none;
    display: block;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 2px 4px 0px rgba(182,182,182,1);
}

/* Стилизация скролла */
    
::-webkit-scrollbar-track { 
    background-color:#ededed;
    border-radius: 7px;
} 
    
::-webkit-scrollbar-thumb { 
    border-radius: 7px;
    background-color:#107bb1; 
} 
    
::-webkit-scrollbar{ 
    width: 7px;
    height: 7px;
}
