@import 'profile.css';
@import 'users.css';
@import 'popup.css';
@import 'help.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 14px;
}
body{
    background: #e2e2e2;
}
button, input{
    outline: none;
    appearance: none;
    transition: .5s;
}
input{
    overflow: hidden;
    text-overflow: ellipsis;
}
a{
    color: #5399c4;
    font-weight: bold;
    text-transform: capitalize;
}

/* Обертка страницы */

.wrapper{
    width: 588px;
    height: 418px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 46px 59px 62px 42px;
}

/* Табы переключения */

.header{
    height: 32px;
    width: 100%;
}
.header__nav{
    width: 270px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header__main-tab{
    height: 32px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.header__main-tab_width_profile-tab{
     width: 92px;
 }
.header__main-tab_width_friends-tab{
    width: 169px;
}
.header__main-tab_active{
    background: #0b7fb2;
    color: #ffffff;
}
.header__main-tab_active:hover{
    background: #2591be;
}


@media (max-width: 600px) {
    .wrapper {
        position: static;
        transform: translate(0, 0);
        width: 100%;
        height: 100vh;
        padding: 5px;
    }
    .profile__tab-block{
        flex-direction: column;
    }
    #mainInfo{
        width: 100%;
    }
    .fullNameUser, .userLocation{
        text-align: center;
        width: 100%;
    }
    .userLocation{
        font-size: 12px;
    }
    #mainInfo,.avatar, .mainInfoUser{
        margin: 0 auto;
    }
    .profile__tab-block_friends{
        flex-direction: row;
    }
    .valueHaracteristic{
        width: auto;
    }
    .valuePhoneNumber, .valueFamily, .valueEmail {
        width: 100%;
        max-width: 100%;
    }
    .mainInfoUser{
        width: 100%;
    }
    .userHobby{
        margin: 0 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .hobbies{
        font-size: 16px;
        width: auto;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .userContacts {
        justify-content: center;
    }
}
@media (max-width: 400px) {
    .haracteristic{
        width: 100px;
    }
    .haracteristic, .valueHaracteristic{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .family, .phoneNumber, .email {
        display: flex;
        align-items: center;
        line-height: 0.9;
        width: 100%;
    }
    .userContacts {
        padding: 10px 0;
    }
}