/* popup */
.popup{
    z-index: 10110;
    width: 250px;
    height: 120px;
    position: fixed;
    background: #ffffff;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    transition: all linear 0.4s;
    border-radius: 10px;
    border: 2px solid #0b7fb2;
    padding: 20px;
    text-align: center;
    box-shadow: -2px -1px 51px -9px rgba(255,255,255,1);
}
.popup__button{
     position: absolute;
     left: 20px;
     bottom: 20px;
     width: calc(100% - 40px);
     margin-top: 10px;
}
.button-hobby{
    height: 30px;
    background: linear-gradient(0deg, rgba(230,103,0,1) 41%, rgba(230,127,0,1) 56%);
    border-radius: 6px;
    color: #ffffff;
    line-height: 30px;
    transition: .5s;
}
.button-hobby:active{
    background: linear-gradient(0deg, rgba(230,127,0,1) 41%, rgba(230,103,0,1) 56%);
}
.popup__input-field-enter{
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    color: #0b7fb2;
    border: 1px solid #0b7fb2;
    border-radius: 6px;
    font-weight: bold;
}

.popup_show{
    top: 50%;
}
.popup__button-close{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    margin-top: -15px;
    margin-right: -15px;
    border-radius: 50%;
    background: #0b7fb2;
    cursor: pointer;
    border: 1px solid #ffffff;
}
.popup__button-close:hover{
    background: #ffffff;
    border-color: #0b7fb2;
}
.popup__button-close:hover:after,
.popup__button-close:hover:before{
    background: #0b7fb2;
}
.popup__button-close::before,
.popup__button-close::after{
    content: '';
    height: 2px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: #ffffff;
}
.popup__button-close::before{
    transform: translate(-50%, -50%) rotate(45deg);
}