/* Информация о друзьях */

.profile__tab-block_friends{
    display: none;
    flex-wrap: wrap;
    overflow: auto;
    scrollbar-color: #107bb1 #ededed;
    scrollbar-width: thin;
    scrollbar-track-color: black;
}
.friendUser{
    position: relative;
    width: 219px;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
}
.friendUser > img {
    width: 60px;
    height: 60px;
    margin: 10px 0;
    
}
.infoFriend{
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.mainInfoFriend{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cityFriend{
    font-size: 10px;
    text-transform: capitalize;
}