.message-info{
    max-width: 250px;
    padding: 5px 10px;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 29%;
    transform: translateX(-50%);
    opacity: 0;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 20px 4px rgba(0,0,0,0.75);
    transition: .5s linear;
    word-wrap: break-word;
    z-index: -1;
}
.message-info_type_danger{
    background: #a50c09;
    opacity: 1;
    z-index: 10100;
}
.message-info_type_access{
    background: #29a511;
    opacity: 1;
    z-index: 10100;
}